<?xml version="1.0" encoding="UTF-8"?>
<configuration name="e1" status="warn" monitorInterval="30">

  <appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] - %m%n"/>
    </Console>
  </appenders>

  <loggers>
    <asyncLogger name="ru.snm.tutorials.tij4e" level="trace" additivity="false">
      <appender-ref ref="console"/>
    </asyncLogger>

    <asyncRoot level="info">
      <appender-ref ref="console"/>
    </asyncRoot>
  </loggers>

</configuration>